/*Home */
#nav{
    transition: .5s;
}
body{
    background: black;
}
.logo {
    height: 70px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.bg-black {
    background: black;
}
.b-rad{
    border-radius: 10px 10px 0 0;
}
.ls-1{
    letter-spacing: 0.08rem;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0;
}
.home{
    height: 80vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.home-h1{
    letter-spacing: 2px;
    color: white;
    font-size: 60px;
}
.title{
    letter-spacing: 2px;
}
.kh-cont hr {
    border-top: 1px solid rgba(0,0,0,0.2);
}
.kh-cont {
    margin-bottom: 15px;
}
#play {
    height: 40px;
    width: auto;
}
.kh-back{
    background: #8181814a;
    border-radius: 10px;
}

.kh-cont img {
    transition: .7s;
    cursor: pointer;
}
.kh-cont:hover img{
    transform: scale(1.05);
    transition: .7s;
}
.kh-cont .img-cont{
    max-height: 550px;
}
.work-section{
    background: rgb(21, 21, 21);
}
/*Home End*/

/*shop*/

.shop{
    background: #151515;
    padding-top: 90px;
}
.ls-2{
    letter-spacing: 2px;
}
.tab-content>.active{
    display: flex;
}
.shop .kh-cont .img-cont {
    max-height: 550px;
}
.shop .nav-link {
    color: rgba(255,255,255,.5);
}
.shop .item-cont .active {
    color: #fff;
}

/*shop end*/

/*about*/
.about-section{
    padding-top: 90px;
    background: #151515;
}
/*about end*/

/*Gallery*/

.gallery{
    padding-top: 90px;
    background: #151515;
}

/*Gallery End*/

/*Contact */

.contact{
    padding-top: 90px;
    background: #151515;
}
.contact-form input, .contact-form textarea  {
    background: black;
    border: 0;
    border-radius: 0;
    height: 50px;
    color: white;
}
.contact-form textarea {
    height: auto;
}
.contact-form input:focus, .contact-form textarea:focus {
    background: black;
    box-shadow: none;
    color: white;
}
.map-cont{
    background: #544f49;
    padding: 5px;
}
.about-cont p{
    font-size: 13px;
    color: rgba(255,255,255,.5);
    margin-bottom: 0;
}

/*Contact End*/
/*footer*/

footer {
    padding: 25px 0 15px 0;
    background: black;
}
footer p {
    font-size: 14px;
    margin-bottom: 0;
}


/*footer end*/
/*for only desktops*/
@media all and (min-width: 991px) {
    /*Home*/

    #nav.navbar{
        height: 90px;
        padding-bottom: 0;
    }
    .navbar-brand{
        margin-left: 150px;
    }
    #nav .nav-item:hover{
        border-bottom: 1px solid rgba(255,255,255,.75);
        transition: ease-in-out .3s;
    }
    #nav .nav-item{
        margin-right: 35px;
        padding-bottom: 10px;
    }
    #nav .nav-item.active{
        border-bottom: 1px solid white;
    }

    /*home end*/

    /*about*/
    .about-section .container-fluid{
        padding: 100px;
    }
    /*about end*/
}

@media all and (max-width: 990px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px 0;
    }
}


